# Fichiers compilés Java
*.class

# Logs
*.log

# Dossiers temporaires
tmp/
temp/

# Fichiers système (Windows, macOS, IDE)
.DS_Store
Thumbs.db
.idea/
.vscode/

# Docker volumes ou data
data/

# File ENV (db)
.env
ansible/env_var.yml
